
Configs/Default/ios/splashPortrait.png
Configs/Default/ios/iPhoneXSplashPortrait.png
Configs/Default/ios/iPhoneXSplash.png
Configs/Default/ios/iPhonesplashPortrait.png
Configs/Default/ios/iPhoneSEsplashPortrait.png
Configs/Default/ios/iPhoneSEsplash.png
Configs/Default/ios/iPhoneRetinasplashPortrait.png
Configs/Default/ios/iPhone8SplashPortrait.png
Configs/Default/ios/iPhone8Splash.png
Configs/Default/ios/iPhone8PlusSplashPortrait.png
Configs/Default/ios/iPhone8PlusSplash.png
Configs/Default/ios/iPhone7SplashPortrait.png
Configs/Default/ios/iPhone7Splash.png
Configs/Default/ios/iPhone7PlusSplashPortrait.png
Configs/Default/ios/iPhone7PlusSplash.png
Configs/Default/ios/iPhone6SplashPortrait.png
Configs/Default/ios/iPhone6PlusSplashPortrait.png
Configs/Default/ios/iPhone5splashPortrait.png
Configs/Default/ios/iPadsplashPortrait.png
Configs/Default/ios/iPadRetinaSplashPortrait.png
Configs/Default/ios/icons/spotlight/iphone_80.png
Configs/Default/ios/icons/spotlight/iphone_120.png
Configs/Default/ios/icons/spotlight/ipad_80.png
Configs/Default/ios/icons/spotlight/ipad_40.png
Configs/Default/ios/icons/settings/iphone_87.png
Configs/Default/ios/icons/settings/iphone_58.png
Configs/Default/ios/icons/settings/ipad_58.png
Configs/Default/ios/icons/settings/ipad_29.png
Configs/Default/ios/icons/notification/iphone_60.png
Configs/Default/ios/icons/notification/iphone_40.png
Configs/Default/ios/icons/notification/ipad_40.png
Configs/Default/ios/icons/notification/ipad_20.png
Configs/Default/ios/icons/itunes/itunes_1024.png
Configs/Default/ios/icons/app/iphone_180.png
Configs/Default/ios/icons/app/iphone_120.png
Configs/Default/ios/icons/app/ipad_pro_167.png
Configs/Default/ios/icons/app/ipad_76.png
Configs/Default/ios/icons/app/ipad_152.png
Configs/Default/android/portrait_splash.png
Configs/Default.config.gmx
